@{
    ViewBag.Title = "Acerca de Nostros";
}
<h2>@ViewBag.Title.</h2>

<p><h4 style="display:inline">Numero de telefono:</h4> 75599967</p>
<address>
    <a href="//mailto:detalle.exquisito2018@gmail.com" target="1">detalle.exquisito2018@gmail.com</a>

</address>
<h4 style="display:inline">Correo Electronico:</h4>

<a href="mailto:wilson.salazra34.08@gmail.com" target="_blank">wilson.salazra34.08@gmail.com</a>

